---
import BaseLayout from "@layouts/BaseLayout.astro";
import Button from "@components/Button.astro";
import splashText from "@/shared/other/insideJokes";

const randomSplash = splashText[Math.floor(Math.random() * splashText.length)];
---
<BaseLayout>
  <main class="min-h-screen flex items-center justify-center p-6">
    <div
      class="bg-white rounded-xl shadow-lg border border-gray-100 w-full max-w-2xl p-8 flex flex-col items-center text-center mx-auto"
    >
      <h1 class="text-4xl font-bold mb-4 text-ut-burntorange" }>
        Thanks for using UT Registration Plus
      </h1>

      <p class="mb-4 text-lg">
        Thank you for making us a part of your university journey. If we've
        helped you over the years, <b>please consider leaving us a review</b>!
      </p>

      <p class="text-sm italic text-gray-500 mb-6">
        Graduating this year? Huge congratulations on reaching the finish line!
        🤘
      </p>

      <div class="flex flex-row items-center justify-center gap-3 mb-6 w-full">
        <a
          href="https://chromewebstore.google.com/detail/ut-registration-plus/hboadpjkoaieogjimneceaahlppnipaa/reviews?hl=en"
          class="no-underline"
        >
          <Button color="ut-burntorange" variant="filled">Leave a review</Button
          >
        </a>
        <a
          href="https://github.com/Longhorn-Developers/UT-Registration-Plus/issues/new"
          class="no-underline"
        >
          <Button color="ut-burntorange" variant="outline"
            >Suggest new features!</Button
          >
        </a>
      </div>
      <p class="text-sm italic text-gray-500 mb-6">
        {randomSplash}
      </p>
    </div>
  </main>
</BaseLayout>
