---
import BaseLayout from "@layouts/BaseLayout.astro";
import Button from "@components/Button.astro";
import { getThemeColorHexByName } from "@shared/util/themeColors";
---

<BaseLayout>
  <main class="min-h-screen flex items-center justify-center p-6">
    <div
      class="bg-white rounded-xl shadow-lg border border-gray-100 w-full max-w-2xl p-8 flex flex-col items-center text-center mx-auto"
    >
      <h1 class="text-4xl font-bold mb-4 text-ut-burntorange" }>
        Thanks for using UT Registration Plus
      </h1>

      <p class="mb-6 text-lg">
        If we've helped you over the years, please consider leaving us a review
        with your thoughts. Congrats on graduating!
      </p>

      <div class="flex flex-row items-center justify-center gap-3 mb-6 w-full">
        <a href="https://chromewebstore.google.com/detail/ut-registration-plus/hboadpjkoaieogjimneceaahlppnipaa/reviews?hl=en" class="no-underline">
          <Button color="ut-burntorange" variant="filled">Leave a review</Button>
        </a>
        <a href="https://github.com/Longhorn-Developers/UT-Registration-Plus/issues/new" class="no-underline">
          <Button color="ut-burntorange" variant="outline">Suggest new features!</Button>
        </a>
      </div>

      <section
        class="mt-8 p-4 rounded-lg text-left w-full bg-theme-offwhite text-ut-burntorange"
      >
        <h2 class="text-xl font-medium mb-2">Why this page?</h2>
        <p>
          This will be a rounded square i havent figured out what to say. Omg
          maybe ill put our inside jokes here
        </p>
      </section>
    </div>
  </main>
</BaseLayout>
