---
import styles from '@views/components/common/ExtensionRoot.module.scss';
import Navbar from '@components/Navbar.astro';
import 'uno.css';
---
<!-- i actually dont know if this is needed cuz you can just import the root to index.astro, but whatever, it could be good for scaling -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <base target="_blank" />
  </head>
  <body class:list={[styles.extensionRoot, "bg-slate-50", "h-screen", "overflow-hidden", "flex", "flex-col"]}>
    <Navbar />
    <slot />
  </body>
</html>
